<%= simple_form_for(@tutorial) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :itle %>
    <%= f.input :content %>
    <%= f.input :url %>
    <%= f.association :user %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
