<p id="notice"><%= notice %></p>

<p>
  <b>Itle:</b>
  <%= @tutorial.itle %>
</p>

<p>
  <b>Content:</b>
  <%= @tutorial.content %>
</p>

<p>
  <b>Url:</b>
  <%= @tutorial.url %>
</p>

<p>
  <b>User:</b>
  <%= @tutorial.user %>
</p>


<%= link_to 'Edit', edit_tutorial_path(@tutorial) %> |
<%= link_to 'Back', tutorials_path %>
